@use '../custom.scss' as *;

header{
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
    li{
        padding: 0 00.75rem;
        a{
            color: $white !important;
            text-transform: capitalize;
            font-weight: 600;
        }
    }
}